name: Build Bases

on:
  push:
    paths:
      - Dockerfile
      - install*.sh
      - Rprofile
      - vscode-extensions.txt
      - environment.yml
      - .github/workflows/build-base.yml

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ml
            base: quay.io/jupyter/minimal-notebook:python-3.12
            nb_user: jovyan
            tags: |
              ghcr.io/rocker-org/ml:latest
              rocker/ml:latest
          - image: cuda
            base: rapidsai/ci-conda:latest
            nb_user: ubuntu
            tags: |
              ghcr.io/rocker-org/cuda:latest
              rocker/cuda:latest

    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc
          df -h

      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ${{ matrix.image }}
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tags }}
          build-args: |
            BASE=${{ matrix.base }}
            NB_USER=${{ matrix.nb_user }}
