name: Build Spatial

on:
  workflow_run:
    workflows: ["Build Bases"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: ml-spatial
            context: extend
            tags: |
              ghcr.io/rocker-org/ml-spatial:latest
              rocker/ml-spatial:latest
          - image: cuda-spatial
            context: cuda-spatial
            tags: |
              ghcr.io/rocker-org/cuda-spatial:latest
              rocker/cuda-spatial:latest

    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc
          df -h

      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ${{ matrix.image }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ matrix.tags }}
