name: Build ML (CPU) Base

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # Weekly on Sunday at midnight UTC
  push:
    paths:
      - Dockerfile.cpu
      - install*.sh
      - Rprofile
      - vscode-extensions.txt
      - requirements-cpu.txt
      - .github/workflows/build-ml.yml

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc
          df -h

      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push ML CPU Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.cpu
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/rocker-org/ml:latest
            ghcr.io/rocker-org/ml:cpu
            ghcr.io/rocker-org/ml:py3.12-cpu
            rocker/ml:latest
            rocker/ml:cpu
            rocker/ml:py3.12-cpu
          build-args: |
            NB_USER=jovyan
